.filter-radio__colors {
  display: flex;
  background-image: url("../img/colors.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 405px;
  height: 60px;
}

.filter-radio__input {
  vertical-align: top;
  width: 60px;
  height: 60px;
  margin: 0 0 0 2px;
  position: absolute;
  opacity: 0;
}

.filter-radio__wrapper {
  display: flex;
  flex-direction: row;
}


.filter-radio__input + label {
  position: relative;
  padding: 0 0 0 60px;
  margin: 0 8px 0 0;
}


.filter-radio__input + label::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: transparent;
}

.filter-radio__input + label::after {
  content: " ";
  position: absolute;
  top: 14px;
  left: 12px;
  width: 40px;
  height: 30px;
  background-image: url("../img/icon-yes.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
}

.filter-radio__input:checked + label::after {
  opacity: 1;
}

.filter-radio__description {
  margin-bottom: 0;
}
